@import url(https://fonts.googleapis.com/css?family=Montserrat);

body, html {
    height: 100%;
    margin: 0;
    font-family: Montserrat;
}

.bg {
    /* The image used */
    background: linear-gradient(rgba(20, 20, 20, .7), rgba(20, 20, 20, .7)), url("../static/background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-size: 50px;
    color: #efe9e9;
    text-align: center;
    padding-top: 20%;
}

.heading {
    font-size: 30px;
    color: rgba(26, 88, 181, 0.8);
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 10%;
    text-align: center;
    font-weight: 900;
}

.heading2 {
    margin-left: 30%;
    margin-right: 30%;
    padding: 5%;
    text-align: center;
    font-weight: 900;
}

/* Button */

.wrap {
    text-align: center;
}

i {
    padding-left: 10px;
}

a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}

a.button {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(26, 88, 181, 0.4) 0 0px 0px 2px inset;
}

a.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(26, 88, 181, 0.82) 0 0px 0px 40px inset
}

a.button2 {
    color: rgb(238, 238, 241);
    box-shadow: rgb(238, 238, 241) 0 0px 0px 2px inset;
}

a.button2:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(26, 88, 181, 0.82) 0 0px 0px 40px inset
}

.upload_button {
    font-family: Montserrat;
    color: rgba(26, 88, 181, 0.8);
    box-shadow: rgba(26, 88, 181, 0.8) 0 0px 0px 2px inset;
    font-weight: 900;
    width: 250px;
    font-size: 16px;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: none;
}

.upload_button:hover {
    font-family: Montserrat;
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(26, 88, 181, 0.82) 0 0px 0px 40px inset;
    font-weight: 900;
    width: 250px;
    font-size: 16px;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    background: none;
    font-weight: 900;
    border: none;
    text-decoration: none;
}

.button {
    background-color: #ffffff00;
    color: rgba(26, 88, 181, 0.8);
    font-weight: 900;
    border: none;
    text-decoration: none;
}

.hide_file {
    opacity: 0;
    cursor: pointer;
    left: 40%;
    position: absolute;
}
