<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href='/static/style.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="bg">
    <div>
        <div class="title">
            Автоматско опишување на слики
        </div>
        <!--Button -->
        <div class="wrap">
            <a href="/upload" class="button2">Избери слика <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<div>

</div>

</body>
</html>